{% extends 'tienda/main.html' %}

{% load static %}
{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'tienda' %}">&#x2190; Continuar comprando</a>
            <br>
            <br>
            <table class="table">
                <tr>
                    <th>
                        <h5> Items: <Strong>{{orden.obtener_carrito_items}}</Strong></h5>
                    </th>
                    <th>
                        <h5> Total: <Strong>${{orden.obtener_carrito_total}}</Strong></h5>
                    </th>
                    <th>
                        <a style="float: right; margin: 5px;" class="btn btn-success" href="{% url 'checkout' %}">
                            Pagar
                        </a>
                    </th>
                </tr>
            </table>

        </div>
        <br>
        <div class="box-element">
            <div class="cart-row">
                <div style="flex:2"><strong></strong></div>
                <div style="flex:2"><strong>Item</strong></div>
                <div style="flex:1"><strong>Precio</strong></div>
                <div style="flex:1"><strong>Cantidad</strong></div>
                <div style="flex:1"><strong>Total</strong></div>

            </div>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{item.producto.image.url}}"></div>
                <div style="flex:2">{{item.producto.name}}</div>
                <div style="flex:1">${{item.producto.precio|floatformat:2}}</div>
                <div style="flex:1">
                    <p class="quantity">{{item.cantidad}}</p>
                    <div class="quantity">
                        <img class="chg-quantity" src="{% static  'images/arrow-up.png' %}">

                        <img class="chg-quantity" src="{% static  'images/arrow-down.png' %}">
                    </div>
                </div>

                <div style="flex:1"> ${{item.obtener_total}}</div>

            </div>
            {% endfor %}

        </div>
    </div>
</div>


{% endblock content %}